
body{
	background-image: url(../img/bghome.jpg);
	position: absolute;
	width: 100%;
	height: 100%;
}

#form-cadastro{
	margin-top: 10%;
	margin-bottom: 10%;
	width: 80%;
	height: 40%;
}

.footer{
	//margin-top: 
}

.container-fluid{
	padding: 0px;
}