@charset "UTF-8";
/*---------------Corpo-----------------*/
body{
	background-attachment: fixed;
	background-position: inherit;
	background-color: #FFF;
	background-repeat: no-repeat;
	background-size: 100%;
	width: 100%;
	height: auto;
	margin: auto;
}

p{
	margin-left: 10%; 
	margin-top: 5px;
	max-width: 100%;
	font-size: 10pt;
}

a,
a:hover{
	color: #FFF;
}

.ativo{ background-color: #ddd; }

.link-ativo,
.link-ativo:hover{
	color: #FFE600;
}

.link-inativo, 
.link-inativo:hover{
	text-decoration: none;
	color: #bbb;
}

.navbar-top-link{
	position: relative;
	top: 11%;
}

.navbar-top-link a{
	background-color: rgba(0,0,0,0.3);
	padding: 4px;
	margin: 2px;
	border-radius: 4px;
	font-size: 6pt;
	position: relative;
}

#barra-top{
	background-color: #089a88;
	border-radius: 0px;
	color: #fff;
	position: relative;
}


/*---------Barra de navegação----------*/

#menu-navegacao{ margin-left: 23%; }

.navbar.navbar-default{
	margin: 0px;
	background-color:#fff ;
	border:0px;
	border-radius: 0px;
}

.nav.navbar-nav li a{ color: #000; } 

figure.logo{
	background-image: url(../img/logo.png);
	position: absolute;
	top: -20%;
	width: 140px;
	height: 39px;
	box-shadow: 3px 3px 2px 0px rgba(64,64,64,2);
}

figure.logo:hover{ box-shadow: 3px 3px 2px 0px rgba(32,32,32,2); }

.navbar-top-link{
	position: absolute;
	right: 3%;
	bottom: 40%;
	color: #fff;
	font-family: Verdana, Arial;
	font-weight: bold;
	font-size: 7pt;
	text-transform: uppercase;
}

.nav.navbar-nav.navbar-right a:hover{
	color: #eee;
	font-family: Verdana, Arial;
}

#form-logon input{
	top:10px;
}

#form-logon,
div.modal-content{
	background-color: #10283E;
}
.modal{
	margin-top: 10%;
}
.modal-content{
	background-color: #fff;
}

.modal-header{
	color: #FFF;
}
.modal-footer,
.modal-header{
	background-color: #4E8C87;
}

.modal div{
	margin-top: 6%;
}
.modal-footer,
.modal-footer a{
	color: #FFF;
	position: relative;
	font-family: Arial;
}
.modal-footer input[type='submit']{
	background-color: #10283E;
	padding: 5px;
	border-radius: 3px;
}
.close span{
	color: red;
}

/*------------Formulário de cadastro--------*/
#form-cadastro{
	color: #fff;
	position: relative;
	margin-top: 7%;
	margin-bottom: 7%;
	padding-top: 1%;
	padding-left: 8%;
	padding-right: 8%;
	padding-bottom: 2%;
	background-color: rgba(0,0,0,0.6);
}

#form-cadastro h1{ font-size: 40pt; font-family: 'Adobe Caslon Pro', Georgia, Arial; }

.form-group div{ margin-bottom:13px; }
.input-group span{ background-color: #089a88; color: #fff; }
.input-group input{ border-radius:0px; border: 0px; text-transform: inherit;}
.input-group-addon{ border: none; }
.input-destaque{ background-color: #D8FBF2; }

.ajuste-form{
	width: 20px;
	height: 4px;
	padding: 0px;
	text-align: center;
}

.ajuste-form p{
	margin-right: auto;
	margin-top: 3px;
	text-align: justify;
}

#navbar-collapse li{
	font-size: 13pt;
	font-weight: 700;
	font-family: sans-serif;
	color: #111;
}

#navbar-collapse li:hover{
	background-color: #E9E9E9;
	text-decoration: none;
	list-style: none;
}

.btn{
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	border-radius: 0px;
	border-color: #61D2D6;
  	width: 50%;
  	top: 10%;
  	color: #fff;
	outline: none;
	padding: 1%;
	font-weight: 300;
	font-size: 15pt;
	font-family: Arial, 'Adobe Caslon Pro', Georgia;
	text-transform: uppercase;
}

.btn:hover{
	background-color: #089a88; 
	outline-style: none; 
	color: #fff; 
	border-color: transparent; 
}
.btn:focus{ 
	outline-style: hidden;
	background-color: transparent; 
	color: #fff; 
	border-color: #61D2D6;
}

.help-block{ 
  color: #FFF;
  text-align: right; 
  position: relative; 
  top: 25px; 
}

/*-------------Rodapé--------------*/
.footer{ background-color: #000; }

#footer{ position: relative; margin-top: 0%; }
#footer div{
	height: 70px;
	width: 100%;
	background-color: #181818;
	position: relative;
	bottom: 0px;
}
#footer p{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
	text-align: center;
	color: #aaa;
}

