body{
    background-image: url(../img/bg3.png);
    background-repeat: no-repeat;
    background-size: 1360px 850px;
    background-attachment: fixed;
    margin: auto;
    width: 1360px;
    height: auto;
    position: relative;
    padding: 0px;
}

.mensagem-header{
    margin-top: 1px;
    background-color: #089a88;
    height: 50px;
    width: 1360px;
    text-align: left;
    margin-bottom: 0px;
}
.mensagem-header p{
    font-size: 12px;
    position: absolute;
    left: 0px;
    top: 10px;
    margin-left: 100px;
    color: #ffffff;
    font-family: Georgia, Arial, Verdana, Lucida;
}
.mensagem-header a{
    color: #ffffff;
}
.mensagem-header a:hover{
    color: #ffffff;
}


/*-----------------------------------------*/

.menu-navegacao{
    height: 80px;
    position: relative;
    top: 0px;
}

.menu-navegacao div{
    background-color: #fff;
    height: 80px;
    width: 1360px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 0px;
    font-size: 16px;
    font-weight: bold;
    padding-left: 100px;
}

.menu-navegacao div span{
    top: 0px;
    height: 80px;
    float: left;
    margin-left: 0px;
    position: relative;
    left: 25px;
    display: inline;
    text-align: center;
    background-color: #fff;
    padding-right: 12px;
    padding-left: 12px;
}

.menu-navegacao p{
    margin-top: 25px;
}

.menu-navegacao a{
    color: #555;
}

.menu-navegacao a:hover{
    color: #089a88;
    text-decoration: none;
}
.mouse-over{
    background-color: #000;
}

.nouse.leave{
    background-color: #fff;
}

/*-----------------------------------------*/

.principal{
    position: relative;
    top: 0px;
}
.buscador{
    position: relative;
    text-align: center;
    background-color: #300705;
    width: 1140px;
    height: 280px;
    margin: auto;
    margin-top: 100px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    font-family: 'Adobe Caslon Pro', Georgia, Arial;
}

.buscador div{
    font-size: 55px;
    letter-spacing: 0px;
    text-transform: capitalize;
    position: relative;
    margin-top: 15px;
    top: 20px;
}

#bt-buscar{
    border-top: 2px;
    border-color: #089a88;
    border-radius: 0px;
    background-color: transparent; 
    border-spacing: 15px;
    width: 150px;
    height: 33px;
    position: relative;
    bottom: 0px;
    top: 80px;


}
.lista-busca-uf select{
    background-color: transparent;
    line-height: 1px;
    border:0px;
    border-color: transparent;
    height: 30px;
    text-transform: inherit;
    outline: none;
}

.lista-busca-uf li{
    font-family: Arial;
    font-weight: bold;
    color: #fff;
    display: inline;
    float: left;
    list-style-type: none;
    margin-left: 35px;
    position: relative;
    left: 40px;
    top:50px;
    background-color: #089a88;
    padding: 0px;
    font-size: 16px;
    line-height: 2px;
    height: 34px;
    outline: none;
}

select option{
    background-color: #34495e;
}

#bt-form-select1{
    text-align: center;
    background-color:#c0392b;
    float: left;
    position: relative;
    top: 50px;
    left: 40px;
    margin-left: 35px;
    height: 34px;
    width: 200px;
    border: 0px;
    outline-style: none;
    font-size: 20px;
    font-family: 'Arial Narrow', Georgia;
    font-weight: bold;
    color: #fff;
    outline: none;
}

#select-uf{
    width: 80px;
}

#select-cidade{
    width: 200px;
}

#select-faixa-valor{
    width: 190px;
}

#select-tipo{
    width: 100px;
}

#select-status-imovel{
    width: 220px;
}

#BI{
    color: yellow;
}

#secao1{
    position: relative;
    width: 1360px;
    height: 200px;
}
#secao2{
    position: relative;
    width: 1360px;
    height: 600px;
    background-color: #ecf0f1;
    position: relative;
    top: 200px;
}

#secao2 div{
    background-color: #ffffff;
    width: 1360px;
    height: 200px;
    position: absolute;
    top: 0px;
}
.principal{
    position: relative;
    top: 0px;
}
footer{
    position: relative;
    bottom: 0px;
}

#buscador-header input[name='lupa'],
#buscador-header button{
    float: right;
    position: relative;
    left: auto;
    bottom: auto;
    border-top: 2px solid #c8d8d9;
    border-left: 2px solid #c8d8d9;
    border-right: 2px solid #089a88;
    border-bottom: 2px solid #089a88;
    border-radius: 15px;
    height: 22px;
    width: 22px;
    background-color: #e0f5da;
    font-weight: bold;
    color: #089a88;
    outline: none;
}
#buscador-header input[name='buscador-header']{
    float: right;
    position: relative;
    bottom: auto;
    left: auto;
    border-radius: 14px;
    background-color: #e0f5da;
    color: #555;
    font-weight: bold;
    width: 120px;
    height: 22px;
    z-index: 510;
    border-top: 2px solid #089a88;
    border-left: 2px solid #089a88;
    border-right: 2px solid #c8d8d9;
    border-bottom: 2px solid #c8d8d9;
    text-align: center;
    text-transform: uppercase;
    outline: none;
}

.glyphicon-envelope,
.glyphicon-question-sign{
    font-size: 25px;
}


footer #rodape-inicio,
footer #rodape-final{
    background-color: #131313;
    width: 1360px;
    height: 300px;
    position: relative;
    bottom: 0px;
    color: #fff;
    top: 200px;
}
footer #rodape-inicio{
    background-color: #444;
}
footer #rodape-final p{
    margin-left: 550px;
    text-align: center;
    position: absolute;
    bottom: 0px;
    font-size: 15px;
    font-family: Georgia;
}
.icones-rs{
    position: absolute;
    right: 50px;
    float: left;
}